

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 15px;
    }


}

/* Portrait tablets and small desktops */
@media  (max-width: 991px) {
    html {
        font-size: 90%;
    }

   .team-heading {
    text-align: center;
	}
	.team  img{
	float:none;
	margin-bottom:20px;
	}
	.team {
		text-align:center;
		margin-bottom:40px;
	}
	.team-more {
    text-align:center;
	float:none;
	margin-top:80px;
	}


}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    html {
        font-size: 80%;
    }

  .navbar-nav {
    padding-top: 15px;
    background-color: rgb(250, 92, 101);
    margin-top: 0px;
    border-bottom-left-radius: 7px;
  }

  .mainmenu .navbar-nav li a {
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    font-family: 'open_sansregular';
    font-weight: 700;
    padding-bottom: 25px;
  }
	.home-bg .header-details h1 {
    font-size: 39px;

	}
	.promotion {
    margin-bottom: 30px;
    text-align: center;
	}
	.portfolio {
    margin-bottom: 30px;
    text-align: center;
	}
	.team-heading {
    text-align: center;
	}
	.team  img{
	float:none;
	margin-bottom:20px;
	}
	.team {
		text-align:center;
		margin-bottom:40px;
	}
	.team-more {
    text-align:center;
	float:none;
	margin-top:80px;
	}

  p {
    line-height: 2.2rem;
    font-size: 1.6rem;
  }


}



/* Landscape phones and smaller */
@media (max-width: 480px) {
    html {
        font-size: 65%;
    }
	.home-bg .header-details h1 {
    font-size: 3.1rem;
    line-height: 3.6rem;
	}
	.home-bg .header-details p {
    font-size: 1.5rem;
	}
	.portfolio {
    margin-bottom: 0px;
    text-align: center;
	}
	.team-heading {
    text-align: center;
	}
	.portfolio img {
    margin-left:0;
	}

  .navbar-nav {
    padding-top: 15px;
    background-color: rgb(250, 92, 101);
    margin-top: 0px;
    border-bottom-left-radius: 7px;
  }

  .mainmenu .navbar-nav li a {
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    font-family: 'open_sansregular';
    font-weight: 700;
    padding-bottom: 25px;
  }

}



@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
	.team-heading {
    text-align: center;
	}

}
